In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/goodluck08/practice_dataset/main/Lung%20Capacity.csv")

In [ ]:
df

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0          6.475            6            62.1    no    male        no
1         10.125           18            74.7   yes  female        no
2          9.550           16            69.7    no  female       yes
3         11.125           14            71.0    no    male        no
4          4.800            5            56.9    no    male        no
..           ...          ...             ...   ...     ...       ...
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

[725 rows x 6 columns]

In [ ]:
df.head()

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [ ]:
df.tail()

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

In [ ]:
df[20:36]

    LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
20        3.975            6            57.3    no    male        no
21        5.325            8            59.7    no  female        no
22       10.025           16            72.4    no    male        no
23        8.725           11            68.0    no    male       yes
24        9.375           11            65.7    no  female        no
25        8.350           12            61.3    no    male       yes
26        6.750           12            60.7    no  female        no
27        9.025            9            65.6    no    male        no
28        1.125            4            48.7    no  female        no
29       10.475           18            72.0   yes  female        no
30        4.650            4            53.7    no  female        no
31        7.725           13            64.7    no    male        no
32       10.600           13            69.3    no    male        no
33       11.025           13            65.6    no    male       yes
34        8.650           12            67.8    no    male        no
35        8.825           10            65.5    no    male        no

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LungCap(cc)     725 non-null    float64
 1   Age( years)     725 non-null    int64
 2   Height(inches)  725 non-null    float64
 3   Smoke           725 non-null    object
 4   Gender          725 non-null    object
 5   Caesarean       725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [ ]:
df.describe()

       LungCap(cc)  Age( years)  Height(inches)
count   725.000000   725.000000      725.000000
mean      7.863148    12.326897       64.836276
std       2.662008     4.004750        7.202144
min       0.507000     3.000000       45.300000
25%       6.150000     9.000000       59.900000
50%       8.000000    13.000000       65.400000
75%       9.800000    15.000000       70.300000
max      14.675000    19.000000       81.800000

In [ ]:
df.columns

Index(['LungCap(cc)', 'Age( years)', 'Height(inches)', 'Smoke', 'Gender',
       'Caesarean'],
      dtype='object')

In [ ]:
list(df.columns)

['LungCap(cc)',
 'Age( years)',
 'Height(inches)',
 'Smoke',
 'Gender',
 'Caesarean']

In [ ]:
for i in df.columns:
  print(i)

LungCap(cc)
Age( years)
Height(inches)
Smoke
Gender
Caesarean

In [ ]:
df.groupby(['Gender']).size()

Gender
female    358
male      367
dtype: int64

In [ ]:
df.isnull()

     LungCap(cc)  Age( years)  Height(inches)  Smoke  Gender  Caesarean
0          False        False           False  False   False      False
1          False        False           False  False   False      False
2          False        False           False  False   False      False
3          False        False           False  False   False      False
4          False        False           False  False   False      False
..           ...          ...             ...    ...     ...        ...
720        False        False           False  False   False      False
721        False        False           False  False   False      False
722        False        False           False  False   False      False
723        False        False           False  False   False      False
724        False        False           False  False   False      False

[725 rows x 6 columns]

In [ ]:
df.isnull().sum()

LungCap(cc)       0
Age( years)       0
Height(inches)    0
Smoke             0
Gender            0
Caesarean         0
dtype: int64

In [ ]:
df.isnull().values.any()

False